// Базові стилі спойлерів
// Сніппет (HTML): spoller

// Блок зі спойлерами
.spollers {
	display: grid;
	gap: 15px;
}
// Спойлер
.spollers__item {
	font-size: toRem(20);
}
// Заголовок спойлера
.spollers__title {
	width: 100%;
	cursor: default;
	text-align: left;
	border: 1px solid #eee;
	padding: toRem(10) toRem(15);
	border-radius: toRem(5);
	position: relative;
	list-style: none;
	&::marker,
	&::-webkit-details-marker {
		display: none;
	}
	._spoller-init & {
		cursor: pointer;
		&::before,
		&::after {
			
		}
		&::before {
			content: '+';
            color: #fff;
            font-size: 50px;
            font-style: normal;
            font-family: "Jost",sans-serif;
            font-weight: 300;
            line-height: 1;
			display: block;
			text-align: center;
            width: 60px;
            height: 60px;
			line-height: 52px;
            border-radius: 50%;
            background: #0A1537;

			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			transition: all 0.4s ease;

			@media (max-width:$mobile){
				width: 45px;
				height: 45px;
				font-size: 24px;
				line-height: 42px;
			}

		}
		&::after {
		}
		&._spoller-active {
			&::before {
				content: '--';
			}
			&::after {
				
			}
		}
		/*
		._spoller-init & {
			position: relative;
			width: 100%;
			text-align: left;
			&::before,
			&::after {
				content: "";
				position: absolute;
				right: 0;
				top: toRem(12);
				height: toRem(1);
				transition: all 0.3s ease 0s;
				width: toRem(10);
				background-color: #000;
			}
			&::before {
				transform: rotate(40deg);
				right: toRem(7);
			}
			&::after {
				transform: rotate(-40deg);
			}
		}
		&._spoller-active {
			&::before {
				transform: rotate(-40deg);
			}
			&::after {
				transform: rotate(40deg);
			}
		}
		*/
	}

	
}
// Контент спойлера
.spollers__body {
	padding: toRem(20);
	border-radius: toRem(5);
	border: 1px solid #eee;
}
