// Заголовки, загальні БЕМ блоки та інше...
.btn {
    color: #1e1e1e;
    @include adaptiveValue("font-size", 22, 14);
    font-style: normal;
    text-align: right;
    font-family: "Gilroy",sans-serif;
    font-weight: 600;
    letter-spacing: -1px;
    text-align: center;
    padding: 26px 64px;
    background: #F9C98C;
    border-radius: 100px;
    transition: all 0.3s ease;

    @media (max-width:$tablet){
        padding: 20px 32px;
    }
    

    @media (max-width:$mobile){
        padding: 15px 25px;  
    }

    &:hover {
        background: #FFF2E1;
    }
}

.h2 {
    color: #1e1e1e;
    @include adaptiveValue("font-size", 64, 20);
    font-style: normal;
    font-family: "Gilroy",sans-serif;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -2px;
    line-height: 1;

    @media (max-width:$tablet){
        letter-spacing: -1px;
    }

    @media (max-width:$tablet){
        letter-spacing: 0;
    }

    span {
        font-weight: 500;
    }
}

.h1 {
    color: #fff;
    @include adaptiveValue("font-size", 88, 26);
    font-style: normal;
    font-family: "Gilroy",sans-serif;
    font-weight: 400;
    line-height: 0.95;
    @include adaptiveValue("letter-spacing", -6, -2);

    span {
        font-weight: 500;
    }
}

.input {
    color: #1E1E1E;
    @include adaptiveValue("font-size", 16, 14);
    font-style: normal;
    font-family: "Gilroy",sans-serif;
    font-weight: 400;
    background: #FFFFFF;
    border-radius: 96px;
    padding: 20px 28px;
    transition: all 0.3s ease;

    &::placeholder {
        color: #605e5e;
    }

    &:focus,
    &:active,
    &:focus-visible {
        outline: none;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px, #F9C98C 0px 0px 0px 3px;
    }

    @media (max-width:$mobile){
         padding: 8px 20px; 
    }
}

.textarea {
    height: 120px;
    border-radius: 30px;
    resize: none;

    @media (max-width:$mobile){
        height: 74px; 
        border-radius: 20px;
    }
}

.rounded-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #F9C98C;
    transition: all 0.3s ease;

    @media (max-width:$tablet){
        width: 60px;
        height: 60px;
    }

    &:hover {
        background: #FFF2E1;
    }

    svg {
        width: 25px; 
        height: 25px;

        @media (max-width:$mobile){
            width: 20px; 
            height: 18px;  
        }
    }
}