// Заголовки, загальні БЕМ блоки та інше...
.btn {
    color: #1e1e1e;
    @include adaptiveValue("font-size", 22, 14);
    font-style: normal;
    text-align: right;
    font-family: "Gilroy",sans-serif;
    font-weight: 600;
    letter-spacing: -1px;
    text-align: center;
    padding: 26px 64px;
    background: #F9C98C;
    border-radius: 100px;
    transition: all 0.3s ease;

    @media (max-width:$tablet){
        padding: 20px 32px;
    }
    

    @media (max-width:$mobile){
        padding: 15px 25px;  
    }

    &:hover {
        background: #FFF2E1;
    }
}

.h2 {
    color: #1e1e1e;
    @include adaptiveValue("font-size", 64, 20);
    font-style: normal;
    font-family: "Gilroy",sans-serif;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -2px;
    line-height: 1;

    @media (max-width:$tablet){
        letter-spacing: -1px;
    }

    @media (max-width:$tablet){
        letter-spacing: 0;
    }

    span {
        font-weight: 500;
    }
}

.h1 {
    color: #fff;
    @include adaptiveValue("font-size", 88, 26);
    font-style: normal;
    font-family: "Gilroy",sans-serif;
    font-weight: 100;
    line-height: 0.95;
    @include adaptiveValue("letter-spacing", -4, -1);

    span {
        font-weight: 500;
    }
}

.input {
    color: #1E1E1E;
    @include adaptiveValue("font-size", 16, 14);
    font-style: normal;
    font-family: "Gilroy",sans-serif;
    font-weight: 400;
    background: #FFFFFF;
    border-radius: 96px;
    padding: 16px 24px;
    transition: all 0.3s ease;

    &::placeholder {
        color: #605e5e;
    }

    &:focus,
    &:active,
    &:focus-visible {
        outline: none;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px, #F9C98C 0px 0px 0px 3px;
    }

    @media (max-width:$mobile){
         padding: 8px 20px; 
    }
}

.textarea {
    height: 120px;
    border-radius: 30px;
    resize: none;

    @media (max-width:$mobile){
        height: 74px; 
        border-radius: 20px;
    }
}

.rounded-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #F9C98C;
    transition: all 0.3s ease;

    @media (max-width:$tablet){
        width: 60px;
        height: 60px;
    }

    &:hover {
        background: #FFF2E1;
    }

    svg {
        width: 25px; 
        height: 25px;

        @media (max-width:$mobile){
            width: 20px; 
            height: 18px;  
        }
    }
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;

    @media (max-width:$mobile){
         gap: 16px; 
    }

    @media (max-width:$mobileSmall){
         gap: 10px; 
    }

    &__prev,
    &__next {
        display: block;
        background: #0A1537;
        width: 30px;
        height: 30px;
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;

        &:hover {
            background: #F9C98C;
        }

        &.disabled,
        &:disabled {
            background: #8F8F8F;
        }

        @media (max-width:$mobileSmall){
            width: 20px;
            height: 20px; 
            
            svg {
                width: 4.4px;
                height: 8.4px;
            }
        }
    }

    // .pagination__prev
    &__prev {
    }

    &__prev:disabled {
        background: #8F8F8F;
        
    }

    // .pagination__list
    &__list {
        display: flex;
        gap: 10px;
    }

    // .pagination__item
    &__item {

        &.active {
            a {
                color: #F9C98C;
            }
        }

        a {
            color: #1e1e1e;
            @include adaptiveValue("font-size", 32, 18);
            font-style: normal;
            font-family: "Gilroy",sans-serif;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -2px;
            transition: all 0.3s ease;

            &:hover {
                color: #F9C98C;
            }

            @media (max-width:$mobile){
                letter-spacing: -1px;  
            }
        }

        a.active {
            color: #F9C98C;
        }
    }

    // .pagination__next
    &__next {
    }
}


.custom-tab {

    // .custom-tab__wrapp
    &__wrapp {
        max-width: 1100px;
        margin: 0 auto;
        padding: 0 16px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        @include adaptiveValue("gap", 30, 12);
    }

    // .custom-tab__tab
    &__tab {
        color: #1e1e1e;
        @include adaptiveValue("font-size", 18, 14);
        font-style: normal;
        text-align: center;
        font-family: "Manrope",sans-serif;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -1px;
        padding: 6px 40px;
        border: 1px solid #1E1E1E;
        border-radius: 90px;
        transition: all 0.3s ease-in;

        &.active,
        &:hover {
            background: #0A1537;
            color:#fff;
        }
    }
}

