.header {
    position: absolute;
    left: 0;
    top: 30px;
    height: 54px;
    z-index: 1000;
    width: 100%;

    @media (max-width: 1200px) {
        padding: 0 16px;
    }

    @media (max-width:$mobile){
        top: 20px;
        height: 32px;
    }


    // .header__container
    &__container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: 16px;

        @media (max-width: 1200px) {
            background: #FFF2E1;
            padding: 8px 16px;
            border-radius: 20px;
        }

        @media (max-width:$mobile){
            padding: 4px 10px;  
        }
    }

    // .header__logo
    .site-logo-mobile,
    &__logo-link,
    &__logo {

        img {
            width: 100%;
            height: auto;
            @include adaptiveValue("max-width", 120, 76);
        }

        svg {
            fill: #fff;
            width: 100%;
            height: auto;
            @include adaptiveValue("max-width", 120, 76);

            @media (max-width: 1200px) {
                fill:#000000;
                margin-bottom: -8px;
            }
        }
    }

    .site-logo-mobile {
        display: none;

        @media (max-width: toEm(1200)){
             display: block; 
        }
    }

    &__logo {
        @media (max-width: toEm(1200)){
             display: none; 
        }
    }

    // .header__menu

    &__menu {
        @media (max-width: 1200px) {
            order: 2;
        }
    }

    // .header__phone

    &__phone {
        color: #000000;
        @include adaptiveValue("font-size", 18, 12);
        font-style: normal;
        font-family: "Inter",sans-serif;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: -1px;
        text-transform: uppercase;
        // margin-left: auto;
        transition: all 0.3s ease;
        display: flex;
        align-items: center;
        gap: 4px;
        background: #F9C98C;
        border-radius: 20px;
        padding: 6px 12px;
        // margin-top: -32px;

        @media (max-width: 1200px) {
            padding: 4px 10px;
            margin-left: auto;
            margin-top: 0;
        }

        @media (max-width:$mobile){
            font-family: "Jost",sans-serif;
            font-weight: 400;
            padding: 2px 8px;
        }

        svg {
            fill: #000000;
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-bottom: -4px;
            transition: all 0.3s ease;

            @media (max-width: 1200px) {
                width: 18px;
                height: 18px;
                margin-bottom: -2px;
            }

            @media (max-width:$mobile){
                width: 12px;
                height: 12px;
                margin-bottom: -1px; 
            }
        }

        &:hover {
            color: #fff;

            svg {
                fill: #fff;
            }
        }
    }
}

