.partners {
    padding: 75px 0;

    @media (max-width:$tablet){
        padding: 50px 0;
    }

    // .partners__container
    &__container {
    }

    // .partners__heading
    &__heading {
        @include adaptiveValue("margin-bottom", 78, 20);
    }

    // .partners__row
    &__row {
        display: flex;
        flex-wrap: wrap;
        column-gap: 160px;
        row-gap: 60px;

        @media (max-width: toEm(1200)){
            column-gap: 100px;  
        }

        @media (max-width:$tablet){
            column-gap: 60px;
        }
    }

    // .partners__col
    &__col {
        width: calc(100% / 4 - 120px);

        @media (max-width: toEm(1200)){
            width: calc(100% / 4 - 75px);
        }

        @media (max-width:$tablet){
            width: calc(100% / 4 - 45px);  
        }

        @media (max-width:$mobile){
            width: calc(100% / 2 - 30px);  
        }
    }

    // .partners__logo
    &__logo {
        width: 100%;
        height: auto;
    }

    &__link {
        display: block;
        transition: opacity 0.3s ease;

        &:hover {
            opacity: 0.8;
        }
    }
}

