.vacancies {
    padding: 75px 0;

   @media (max-width: $tablet) {
      padding: 50px 0;
   }

    // .vacancies__container
    &__container {
    }

    // .vacancies__heading
    &__heading {
        @include adaptiveValue("margin-bottom", 40, 20);
    }

    // .vacancies__bord
    &__bord {
        display: flex;
        flex-direction: column;
        @include adaptiveValue("gap", 24, 10);
        @include adaptiveValue("margin-bottom", 64, 40);
    }

    // .vacancies__announcement
    &__announcement {
    }
}


.announcement {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    border-radius: 30px;
    padding: 24px 48px;
    background: #1E1E1E;

    @media (max-width:$mobile){
        border-radius: 20px;  
        padding: 16px 20px;
        gap: 20px;
    }


    // .announcement__text-block
    &__text-block {
    }

    // .announcement__title
    &__title {
        @include adaptiveValue("font-size", 30, 18);
        line-height: 1.2;
        color: #f9c98c;
        font-style: normal;
        text-align: left;
        font-family: "Gilroy",sans-serif;
        font-weight: 500;
        @include adaptiveValue("margin-bottom", 16, 6);
    }

    // .announcement__desc
    &__desc {
        @include adaptiveValue("font-size", 20, 14);
        color: #fff;
        font-style: normal;
        text-align: left;
        font-family: "Gilroy",sans-serif;
        font-weight: 400;

        display: flex;
        align-items: center;

        svg {
            @include adaptiveValue("margin-right", 20, 5);

            @media (max-width:$mobile){
                 width: 10px;
                 height: auto; 
            }
        }

        span {
            @include adaptiveValue("margin-right", 26, 18);
            display: inline-block;
        }
    }

    // .announcement__action
    &__action {
    }

    // .announcement__link
    &__link {
        font-size: 14px;
        padding: 18px 56px;

        @media (max-width:$mobile){
            padding: 14px 18px;
        }
    }
}


.job-desc {
    max-width: 870px;

    // .job-desc__block
    &__block {
        @include adaptiveValue("margin-bottom", 50, 20);

        &:last-child {
            margin-bottom: 0;
        }
    }

    // .job-desc__title
    &__title {
        @include adaptiveValue("font-size", 60, 20);
        color: #1e1e1e;
        font-style: normal;
        font-family: "Gilroy",sans-serif;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -2px;
        @include adaptiveValue("margin-bottom", 32, 16);

        @media (max-width:$mobile){
            letter-spacing: -1px;
        }

        @media (max-width:$mobileSmall){
            letter-spacing: 0px; 
        }
    }

    ul {
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        @include adaptiveValue("gap", 20, 10);
    }

    li {
        @include adaptiveValue("font-size", 16, 14);
        color: #1e1e1e;
        font-style: normal;
        text-align: left;
        font-family: "Jost",sans-serif;
        font-weight: 400;
        line-height: 1.5;
        list-style: square;
    }
}
